.container-error {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-error img {
  max-width: 300px;
  margin: 40px 0;
  animation: shake 1s;
  transition: transform 0.4s;
}

.container-error img:hover {
    transform: scale(1.07);
}

/* Animação shake */

@keyframes shake {
    10%, 90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(16px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-15px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(15px, 0, 0);
    }
}

.container-error h1 {
  color: #fff;
}

.container-error a {
  background-color: #fff;
  color: #132742;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 4px;
  margin: 14px 0;
  font-weight: bold;
  transition: transform 0.5s;
}

.container-error a:hover {
    transform: scale(1.08);
}